@font-face {
    font-family: 'bwicons';
    src:    url('fonts/bwicons.eot?aypp3');
    src:    url('fonts/bwicons.eot?aypp3#iefix') format('embedded-opentype'),
        url('fonts/bwicons.ttf?aypp3') format('truetype'),
        url('fonts/bwicons.woff?aypp3') format('woff'),
        url('fonts/bwicons.svg?aypp3#bwicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bwicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-instagram3:before {
    content: "\ea4f";
}
.ico-dribbble4:before {
    content: "\e900";
}
.ico-facebook25:before {
    content: "\e901";
}
.ico-linkedin10:before {
    content: "\e902";
}
.ico-pinterest13:before {
    content: "\e903";
}
.ico-tumblr10:before {
    content: "\e904";
}
.ico-twitter16:before {
    content: "\e905";
}
.ico-youtube15:before {
    content: "\e906";
}
.ico-back28:before {
    content: "\e907";
}
.ico-right127:before {
    content: "\e908";
}
.ico-mouse61:before {
    content: "\e909";
}
.ico-201:before {
    content: "\e90a";
}
.ico-2424:before {
    content: "\e90b";
}
.ico-add62:before {
    content: "\e90c";
}
.ico-add63:before {
    content: "\e90d";
}
.ico-add64:before {
    content: "\e90e";
}
.ico-address16:before {
    content: "\e90f";
}
.ico-aim2:before {
    content: "\e910";
}
.ico-alarm17:before {
    content: "\e911";
}
.ico-align10:before {
    content: "\e912";
}
.ico-align13:before {
    content: "\e913";
}
.ico-amex1:before {
    content: "\e914";
}
.ico-anchor13:before {
    content: "\e915";
}
.ico-anchor14:before {
    content: "\e916";
}
.ico-arrow392:before {
    content: "\e917";
}
.ico-arrow393:before {
    content: "\e918";
}
.ico-arrow394:before {
    content: "\e919";
}
.ico-arrow395:before {
    content: "\e91a";
}
.ico-arrow396:before {
    content: "\e91b";
}
.ico-arrow397:before {
    content: "\e91c";
}
.ico-arrow398:before {
    content: "\e91d";
}
.ico-arrow399:before {
    content: "\e91e";
}
.ico-arrow400:before {
    content: "\e91f";
}
.ico-arrow401:before {
    content: "\e920";
}
.ico-arrow402:before {
    content: "\e921";
}
.ico-arrow403:before {
    content: "\e922";
}
.ico-arrow404:before {
    content: "\e923";
}
.ico-arrow405:before {
    content: "\e924";
}
.ico-arrow406:before {
    content: "\e925";
}
.ico-arrow407:before {
    content: "\e926";
}
.ico-arrow408:before {
    content: "\e927";
}
.ico-arrow409:before {
    content: "\e928";
}
.ico-arrow410:before {
    content: "\e929";
}
.ico-arrow411:before {
    content: "\e92a";
}
.ico-arrow412:before {
    content: "\e92b";
}
.ico-arrow413:before {
    content: "\e92c";
}
.ico-arrow414:before {
    content: "\e92d";
}
.ico-arrow415:before {
    content: "\e92e";
}
.ico-arrow416:before {
    content: "\e92f";
}
.ico-arrow417:before {
    content: "\e930";
}
.ico-arrow418:before {
    content: "\e931";
}
.ico-arrow419:before {
    content: "\e932";
}
.ico-arrow420:before {
    content: "\e933";
}
.ico-arrow421:before {
    content: "\e934";
}
.ico-arrow422:before {
    content: "\e935";
}
.ico-arrow423:before {
    content: "\e936";
}
.ico-arrow424:before {
    content: "\e937";
}
.ico-arrow425:before {
    content: "\e938";
}
.ico-arrow426:before {
    content: "\e939";
}
.ico-arrow427:before {
    content: "\e93a";
}
.ico-arrow428:before {
    content: "\e93b";
}
.ico-arrow429:before {
    content: "\e93c";
}
.ico-arrow430:before {
    content: "\e93d";
}
.ico-arrow431:before {
    content: "\e93e";
}
.ico-arrow432:before {
    content: "\e93f";
}
.ico-arrow433:before {
    content: "\e940";
}
.ico-arrows51:before {
    content: "\e941";
}
.ico-arrows52:before {
    content: "\e942";
}
.ico-arrows53:before {
    content: "\e943";
}
.ico-arrows54:before {
    content: "\e944";
}
.ico-arrows55:before {
    content: "\e945";
}
.ico-arrows56:before {
    content: "\e946";
}
.ico-attachment7:before {
    content: "\e947";
}
.ico-automated2:before {
    content: "\e948";
}
.ico-backward1:before {
    content: "\e949";
}
.ico-bars6:before {
    content: "\e94a";
}
.ico-basket9:before {
    content: "\e94b";
}
.ico-battery69:before {
    content: "\e94c";
}
.ico-battery70:before {
    content: "\e94d";
}
.ico-battery71:before {
    content: "\e94e";
}
.ico-battery72:before {
    content: "\e94f";
}
.ico-bell6:before {
    content: "\e950";
}
.ico-black179:before {
    content: "\e951";
}
.ico-black180:before {
    content: "\e952";
}
.ico-black181:before {
    content: "\e953";
}
.ico-bluetooth8:before {
    content: "\e954";
}
.ico-book82:before {
    content: "\e955";
}
.ico-bottom4:before {
    content: "\e956";
}
.ico-box33:before {
    content: "\e957";
}
.ico-box34:before {
    content: "\e958";
}
.ico-brain1:before {
    content: "\e959";
}
.ico-briefcase9:before {
    content: "\e95a";
}
.ico-bulb11:before {
    content: "\e95b";
}
.ico-bullet3:before {
    content: "\e95c";
}
.ico-bullet4:before {
    content: "\e95d";
}
.ico-buy4:before {
    content: "\e95e";
}
.ico-calendar47:before {
    content: "\e95f";
}
.ico-calendar48:before {
    content: "\e960";
}
.ico-calendar49:before {
    content: "\e961";
}
.ico-call10:before {
    content: "\e962";
}
.ico-call11:before {
    content: "\e963";
}
.ico-call12:before {
    content: "\e964";
}
.ico-call13:before {
    content: "\e965";
}
.ico-camcorder2:before {
    content: "\e966";
}
.ico-camcorder3:before {
    content: "\e967";
}
.ico-camera39:before {
    content: "\e968";
}
.ico-camera40:before {
    content: "\e969";
}
.ico-camera41:before {
    content: "\e96a";
}
.ico-camera42:before {
    content: "\e96b";
}
.ico-cancel9:before {
    content: "\e96c";
}
.ico-caution2:before {
    content: "\e96d";
}
.ico-cello1:before {
    content: "\e96e";
}
.ico-cent2:before {
    content: "\e96f";
}
.ico-center3:before {
    content: "\e970";
}
.ico-cents1:before {
    content: "\e971";
}
.ico-certificate5:before {
    content: "\e972";
}
.ico-charging4:before {
    content: "\e973";
}
.ico-chat25:before {
    content: "\e974";
}
.ico-chat26:before {
    content: "\e975";
}
.ico-check25:before {
    content: "\e976";
}
.ico-chronometer9:before {
    content: "\e977";
}
.ico-cigarette3:before {
    content: "\e978";
}
.ico-clapper2:before {
    content: "\e979";
}
.ico-cloud79:before {
    content: "\e97a";
}
.ico-cloud80:before {
    content: "\e97b";
}
.ico-cloud81:before {
    content: "\e97c";
}
.ico-cloud82:before {
    content: "\e97d";
}
.ico-code7:before {
    content: "\e97e";
}
.ico-code8:before {
    content: "\e97f";
}
.ico-codings1:before {
    content: "\e980";
}
.ico-columns1:before {
    content: "\e981";
}
.ico-compact5:before {
    content: "\e982";
}
.ico-computer43:before {
    content: "\e983";
}
.ico-connecting7:before {
    content: "\e984";
}
.ico-converging1:before {
    content: "\e985";
}
.ico-correct7:before {
    content: "\e986";
}
.ico-credit20:before {
    content: "\e987";
}
.ico-credit21:before {
    content: "\e988";
}
.ico-crop1:before {
    content: "\e989";
}
.ico-cross37:before {
    content: "\e98a";
}
.ico-curved6:before {
    content: "\e98b";
}
.ico-delivery6:before {
    content: "\e98c";
}
.ico-diagonal1:before {
    content: "\e98d";
}
.ico-digital9:before {
    content: "\e98e";
}
.ico-document55:before {
    content: "\e98f";
}
.ico-document56:before {
    content: "\e990";
}
.ico-dollar76:before {
    content: "\e991";
}
.ico-dollar77:before {
    content: "\e992";
}
.ico-dollar78:before {
    content: "\e993";
}
.ico-dollars17:before {
    content: "\e994";
}
.ico-download57:before {
    content: "\e995";
}
.ico-drums1:before {
    content: "\e996";
}
.ico-empty19:before {
    content: "\e997";
}
.ico-equalizer2:before {
    content: "\e998";
}
.ico-eye44:before {
    content: "\e999";
}
.ico-eye45:before {
    content: "\e99a";
}
.ico-female32:before {
    content: "\e99b";
}
.ico-film21:before {
    content: "\e99c";
}
.ico-film22:before {
    content: "\e99d";
}
.ico-flag25:before {
    content: "\e99e";
}
.ico-flashlight5:before {
    content: "\e99f";
}
.ico-floppy9:before {
    content: "\e9a0";
}
.ico-flower17:before {
    content: "\e9a1";
}
.ico-folder59:before {
    content: "\e9a2";
}
.ico-folder60:before {
    content: "\e9a3";
}
.ico-forward5:before {
    content: "\e9a4";
}
.ico-frame10:before {
    content: "\e9a5";
}
.ico-frame11:before {
    content: "\e9a6";
}
.ico-frame12:before {
    content: "\e9a7";
}
.ico-full19:before {
    content: "\e9a8";
}
.ico-funnel5:before {
    content: "\e9a9";
}
.ico-globe14:before {
    content: "\e9aa";
}
.ico-graduates1:before {
    content: "\e9ab";
}
.ico-grocery9:before {
    content: "\e9ac";
}
.ico-harp1:before {
    content: "\e9ad";
}
.ico-headphone2:before {
    content: "\e9ae";
}
.ico-headset3:before {
    content: "\e9af";
}
.ico-heart64:before {
    content: "\e9b0";
}
.ico-help10:before {
    content: "\e9b1";
}
.ico-hierarchy4:before {
    content: "\e9b2";
}
.ico-high13:before {
    content: "\e9b3";
}
.ico-home60:before {
    content: "\e9b4";
}
.ico-id1:before {
    content: "\e9b5";
}
.ico-incoming3:before {
    content: "\e9b6";
}
.ico-incoming4:before {
    content: "\e9b7";
}
.ico-information32:before {
    content: "\e9b8";
}
.ico-ios16:before {
    content: "\e9b9";
}
.ico-jcb2:before {
    content: "\e9ba";
}
.ico-joystick4:before {
    content: "\e9bb";
}
.ico-justify6:before {
    content: "\e9bc";
}
.ico-keyboard11:before {
    content: "\e9bd";
}
.ico-laptop15:before {
    content: "\e9be";
}
.ico-layers4:before {
    content: "\e9bf";
}
.ico-left27:before {
    content: "\e9c0";
}
.ico-left28:before {
    content: "\e9c1";
}
.ico-lens3:before {
    content: "\e9c2";
}
.ico-lens4:before {
    content: "\e9c3";
}
.ico-lens5:before {
    content: "\e9c4";
}
.ico-list26:before {
    content: "\e9c5";
}
.ico-lock22:before {
    content: "\e9c6";
}
.ico-lock23:before {
    content: "\e9c7";
}
.ico-loud3:before {
    content: "\e9c8";
}
.ico-loudness1:before {
    content: "\e9c9";
}
.ico-low16:before {
    content: "\e9ca";
}
.ico-magnifying27:before {
    content: "\e9cb";
}
.ico-mail21:before {
    content: "\e9cc";
}
.ico-mailbox9:before {
    content: "\e9cd";
}
.ico-mailbox10:before {
    content: "\e9ce";
}
.ico-male39:before {
    content: "\e9cf";
}
.ico-master2:before {
    content: "\e9d0";
}
.ico-measuring3:before {
    content: "\e9d1";
}
.ico-medium3:before {
    content: "\e9d2";
}
.ico-menu18:before {
    content: "\e9d3";
}
.ico-menu19:before {
    content: "\e9d4";
}
.ico-mic7:before {
    content: "\e9d5";
}
.ico-mic8:before {
    content: "\e9d6";
}
.ico-mic9:before {
    content: "\e9d7";
}
.ico-microphone25:before {
    content: "\e9d8";
}
.ico-minus16:before {
    content: "\e9d9";
}
.ico-monitor24:before {
    content: "\e9da";
}
.ico-mouse18:before {
    content: "\e9db";
}
.ico-mouse19:before {
    content: "\e9dc";
}
.ico-move13:before {
    content: "\e9dd";
}
.ico-music58:before {
    content: "\e9de";
}
.ico-music59:before {
    content: "\e9df";
}
.ico-music60:before {
    content: "\e9e0";
}
.ico-mute6:before {
    content: "\e9e1";
}
.ico-newspaper7:before {
    content: "\e9e2";
}
.ico-next8:before {
    content: "\e9e3";
}
.ico-no15:before {
    content: "\e9e4";
}
.ico-not8:before {
    content: "\e9e5";
}
.ico-oboe1:before {
    content: "\e9e6";
}
.ico-offer1:before {
    content: "\e9e7";
}
.ico-open79:before {
    content: "\e9e8";
}
.ico-open80:before {
    content: "\e9e9";
}
.ico-outcoming1:before {
    content: "\e9ea";
}
.ico-outgoing3:before {
    content: "\e9eb";
}
.ico-padlock17:before {
    content: "\e9ec";
}
.ico-paper41:before {
    content: "\e9ed";
}
.ico-pause11:before {
    content: "\e9ee";
}
.ico-photo31:before {
    content: "\e9ef";
}
.ico-photo32:before {
    content: "\e9f0";
}
.ico-picture9:before {
    content: "\e9f1";
}
.ico-pictures1:before {
    content: "\e9f2";
}
.ico-piggy6:before {
    content: "\e9f3";
}
.ico-play33:before {
    content: "\e9f4";
}
.ico-play34:before {
    content: "\e9f5";
}
.ico-plugin1:before {
    content: "\e9f6";
}
.ico-plus23:before {
    content: "\e9f7";
}
.ico-portfolio7:before {
    content: "\e9f8";
}
.ico-previous5:before {
    content: "\e9f9";
}
.ico-printer37:before {
    content: "\e9fa";
}
.ico-purse1:before {
    content: "\e9fb";
}
.ico-radio17:before {
    content: "\e9fc";
}
.ico-rectangular22:before {
    content: "\e9fd";
}
.ico-right24:before {
    content: "\e9fe";
}
.ico-right25:before {
    content: "\e9ff";
}
.ico-ring8:before {
    content: "\ea00";
}
.ico-round27:before {
    content: "\ea01";
}
.ico-rows1:before {
    content: "\ea02";
}
.ico-ruler9:before {
    content: "\ea03";
}
.ico-saxophone2:before {
    content: "\ea04";
}
.ico-scale6:before {
    content: "\ea05";
}
.ico-scale7:before {
    content: "\ea06";
}
.ico-scale8:before {
    content: "\ea07";
}
.ico-scaling1:before {
    content: "\ea08";
}
.ico-scissors13:before {
    content: "\ea09";
}
.ico-settings20:before {
    content: "\ea0a";
}
.ico-shopping56:before {
    content: "\ea0b";
}
.ico-shopping57:before {
    content: "\ea0c";
}
.ico-shopping58:before {
    content: "\ea0d";
}
.ico-shopping59:before {
    content: "\ea0e";
}
.ico-shopping60:before {
    content: "\ea0f";
}
.ico-shutdown1:before {
    content: "\ea10";
}
.ico-silent1:before {
    content: "\ea11";
}
.ico-skype7:before {
    content: "\ea12";
}
.ico-slanting1:before {
    content: "\ea13";
}
.ico-small135:before {
    content: "\ea14";
}
.ico-smart1:before {
    content: "\ea15";
}
.ico-spanner3:before {
    content: "\ea16";
}
.ico-speaker30:before {
    content: "\ea17";
}
.ico-speaker31:before {
    content: "\ea18";
}
.ico-special1:before {
    content: "\ea19";
}
.ico-speech38:before {
    content: "\ea1a";
}
.ico-speech39:before {
    content: "\ea1b";
}
.ico-speech40:before {
    content: "\ea1c";
}
.ico-speech41:before {
    content: "\ea1d";
}
.ico-speech42:before {
    content: "\ea1e";
}
.ico-speech43:before {
    content: "\ea1f";
}
.ico-speech44:before {
    content: "\ea20";
}
.ico-square48:before {
    content: "\ea21";
}
.ico-stack8:before {
    content: "\ea22";
}
.ico-star51:before {
    content: "\ea23";
}
.ico-storage11:before {
    content: "\ea24";
}
.ico-store2:before {
    content: "\ea25";
}
.ico-subtract1:before {
    content: "\ea26";
}
.ico-synchronise1:before {
    content: "\ea27";
}
.ico-tab2:before {
    content: "\ea28";
}
.ico-table17:before {
    content: "\ea29";
}
.ico-tablet39:before {
    content: "\ea2a";
}
.ico-tablet40:before {
    content: "\ea2b";
}
.ico-tablet41:before {
    content: "\ea2c";
}
.ico-tablet42:before {
    content: "\ea2d";
}
.ico-tag26:before {
    content: "\ea2e";
}
.ico-tag27:before {
    content: "\ea2f";
}
.ico-tag28:before {
    content: "\ea30";
}
.ico-tag29:before {
    content: "\ea31";
}
.ico-thermometer19:before {
    content: "\ea32";
}
.ico-thin16:before {
    content: "\ea33";
}
.ico-thought4:before {
    content: "\ea34";
}
.ico-three52:before {
    content: "\ea35";
}
.ico-timer18:before {
    content: "\ea36";
}
.ico-treble2:before {
    content: "\ea37";
}
.ico-trombone2:before {
    content: "\ea38";
}
.ico-trumpet3:before {
    content: "\ea39";
}
.ico-trumpet4:before {
    content: "\ea3a";
}
.ico-two114:before {
    content: "\ea3b";
}
.ico-umbrella12:before {
    content: "\ea3c";
}
.ico-upload35:before {
    content: "\ea3d";
}
.ico-vertical4:before {
    content: "\ea3e";
}
.ico-video69:before {
    content: "\ea3f";
}
.ico-violin2:before {
    content: "\ea40";
}
.ico-visa2:before {
    content: "\ea41";
}
.ico-voice11:before {
    content: "\ea42";
}
.ico-volume22:before {
    content: "\ea43";
}
.ico-waste2:before {
    content: "\ea44";
}
.ico-web11:before {
    content: "\ea45";
}
.ico-weighing7:before {
    content: "\ea46";
}
.ico-weight4:before {
    content: "\ea47";
}
.ico-wifi26:before {
    content: "\ea48";
}
.ico-window21:before {
    content: "\ea49";
}
.ico-window22:before {
    content: "\ea4a";
}
.ico-window23:before {
    content: "\ea4b";
}
.ico-wrong6:before {
    content: "\ea4c";
}
.ico-zoom22:before {
    content: "\ea4d";
}
.ico-zoom23:before {
    content: "\ea4e";
}

